/* This is for body element*/
body {
  padding-right: 16px;
  padding-left: 16px;
  background-color: white;
  margin: 20px;
}

/* The css for navigation menu div*/
.nav-container {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  flex: 100%;
}

/* The css for the buttons */
a.link-button.action-button {
  margin-top: 24px;
  padding: 20px 40px;
  border-radius: 10px;
  background-color: sienna;
  color: #fff;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 18px;
  font-family: "Syne", sans-serif;
}

/* The css when moving the mouse to the buttons */
a.link-button.neutral-action-button:hover {
  background-color: saddlebrown;
  box-shadow: black 5px 5px 10px 0;
}

/* The css when moving the mouse to the buttons */
a.link-button.action-button:hover {
  background-color: saddlebrown;
  box-shadow: black 5px 5px 10px 0;
}

/* The css for the  "Stop Pollutions, Save Mother Earth." heading */
h1.heading-1 {
  margin-top: 0;
  margin-bottom: 24px;
  max-width: 800px;
  color: #fff;
  text-align: center;
  text-transform: none;
  letter-spacing: -1px;
  font-weight: 700;
  font-size: 36px;
  font-family: "Syne", sans-serif;
  line-height: 1;
}

h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 300;
  font-size: 48px;
  font-family: "Roboto Condensed", cursive;
}

h2.cover-heading {
  margin-top: 10px;
  margin-bottom: 0;
  letter-spacing: -1px;
  font-weight: 400;
  font-size: 32px;
  font-family: "Syne", sans-serif;
  line-height: 1.1;
}

p.paragraph.paragraph-1 {
  margin-top: 8px;
  margin-bottom: 0;
  color: #fff;
  font-weight: 300;
  font-size: 16px;
  font-family: "Syne", sans-serif;
  line-height: 24px;
}

p.paragraph.paragraph-text {
  margin-top: 16px;
  color: #666;
  text-align: left;
  font-weight: 400;
  font-family: "Syne", sans-serif;
  line-height: 25px;
}

span.text-element {
  letter-spacing: 0;
  font-size: 16px;
  font-family: "Work Sans", sans-serif;
}

a.link-text span.bold {
  font-weight: 700;
}

.vertical-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.cover-inner-container {
  padding-bottom: 24px;
  padding-left: 16px;
  max-width: 360px;
  width: auto;
}

.logo {
  height: 60px;
  width: 60px;
  padding: 10px;
}

.logo-container {
  flex: 50%;
}

/*Container of the navigation links */
.menu-container {
  flex: 50%;
  text-align: right;
}

a.link-text span.bold {
  font-weight: 700;
}

a.link-text.navlink {
  display: inline-flex;
  margin-top: 0;
  margin-right: 4px;
  margin-left: 4px;
  padding: 20px 0;
  width: 60px;
  color: gray;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  letter-spacing: 0;
  font-weight: 300;
  font-size: 16px;
  font-family: "Syne", sans-serif;
}

.container-grid {
  flex: 100%;
  justify-items: center;
  margin-right: 0;
  margin-left: 0;
  -webkit-box-align: center;
}

.container-footer-section {
  display: flex;
  padding-right: 16px;
  padding-left: 16px;
  min-height: 200px;
  max-width: 1370px;
  border-radius: 20px;
  background-color: saddlebrown;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.footer-3-columns {
  display: flex;
  flex-wrap: nowrap;
  max-width: none;
  width: 100%;
}

.container-content-footer {
  flex: 33%;
  padding: 32px 16px;
  width: auto;
  text-align: top;
}

a.link-text.footer-link {
  margin-top: 0;
  margin-bottom: 8px;
  padding-top: 0;
  padding-bottom: 0;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  font-family: "Syne", sans-serif;
}

.cover-section-1 {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  min-height: 40vh;
  max-width: 95%;
  border-radius: 20px;
}

a.link-text.logo-footer {
  margin-top: 8px;
  padding-top: 4px;
  padding-right: 24px;
  padding-bottom: 4px;
  color: white;
}

.grid-2-columns {
  display: flex;
  flex-wrap: wrap;
  margin-top: 48px;
  margin-right: auto;
  margin-left: auto;
  padding: 48px 16px;
  min-height: 40vh;
  max-width: 1370px;
  border-radius: 20px;
  background-color: #fff;
}

.grid-column-1 {
  flex: 50%;
  padding: 20px;
}

.grid-column-2 {
  flex: 50%;
  padding: 20px;
}

div.responsive-picture.cover-picture {
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 10px;
  max-width: 400px;
  height: auto;
}

div.responsive-picture.cover-picture > picture {
  height: auto;
  width: 100%;
}

.cover-picture-wrapper {
  overflow: hidden;
  border-radius: 8px;
  grid-area: picture;
}

/* Responsive layout*/
/* If the page is accessed in the mobile or smaller screens*/
@media screen and (max-width: 800px) {
  h1.heading-1 {
    font-size: 10.62vw;
  }

  .grid-column-2,
  .grid-column-1 {
    flex: 100%;
  }

  .container-content-footer {
    flex: 100%;
  }

  .footer-3-columns {
    flex-wrap: wrap;
    flex: 100%;
  }
}

/*If the page is accessed in the desktop or bigger screens*/
@media screen and (min-width: 800px) {
  /* Text Elements */

  h1.heading-1 {
    font-size: 72px;
  }

  h1 {
    font-size: 52px;
  }

  .grid-2-columns {
    flex-wrap: nowrap;
  }

  .footer-3-columns {
    flex-wrap: nowrap;
  }
}
