body {
  background-color: #606060;
  display: flex;
  margin: 0 auto;
  padding: 0px;
}
.topdiv {
  background-color: rgb(230, 230, 230);
  width: 100vw;
  height: 60px;
}
.seconddiv {
  background-color: rgb(255, 255, 255);
  width: 100vw;
  height: 60vh;
  align-self: center;
  text-align: center;
}
