body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: lightgrey;
  display: block;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 100px;
}

header {
  background-color: white;
  position: absolute;
  bottom: 201px;
  height: 476px;
  width: 100vw;
}

/* Divs */

.topdiv {
  top: 70px;
  height: 362px;
  width: 80vw;
  position: absolute;
}
.seconddiv {
  border: 1px #000000 solid;
  border-radius: 50%;
  height: 280px;
  width: 280px;
  right: 120px;
  position: absolute;
  top: 335px;
}
.thirddiv {
  display: block;
  width: 80vw;
  position: absolute;
  top: 160px;
  left: 75px;
}
.fourthdiv {
  border: 1px #000000 solid;
  background-color: lightgrey;
  height: 35px;
  width: 99.8vw;
  position: absolute;
  top: 66px;
}

/* Navigation */

ul {
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  list-style-type: none;
  margin-block-start: -8em;
  margin-block-end: 10em;
  margin-inline-start: 32px;
  margin-inline-end: 0px;
  padding-inline-start: 36px;
  color: blue;
  position: absolute;
  top: 290px;
}
a:link {
  color: rgb(0, 0, 0);
  background-color: transparent;
  text-decoration: none;
}

#m_learn {
  border: 2px #000000 solid;
  background: darkgrey;
  height: 20px;
  width: 150px;
  float: left;
  margin-left: 140px;
  color: black;
  padding: 10px;
  text-align: center;
  margin-top: 455px;
}
.m_contents {
  height: 100%;
  background: gray;
  margin-left: 5%;
  margin-right: 5%;
}
.m_banner-contents {
  background: darkgrey;
  height: 120px;
  width: 60%;
  float: left;
  margin-left: 135px;
  margin-top: 90px;
}
.m_profile-banner {
  height: 300px;
}
div.m_profile-stats ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: black;
}
image {
  border: 1px #000000 solid;
  border-radius: 50%;
}
